<!---
- Aqui é a tela principla, vamos colocar o código para chamar <app-header> header.compoment.html dentro da pasta src/app/header.
-->

<app-header></app-header>

<!---
- Aqui é a tela principal, vamos colocar o código para chamar <app-login> login.compoment.html dentro da pasta src/app/login.
-->
<!--- <app-login></app-login> --->

<!--- <router-outlet> padrão angular, ele vai olhar nosso padrão do angular vai puxar ela, como localhost:4200/lista, deixamos '' vazia para ir para routa padrão.--->
<router-outlet></router-outlet>
